node_modules
.nyc_output
coverage
npm-debug.log
.env
b5-a.txt
b5.txt
bla-orig.js
bla.js
bla2-out.txt
bla2.js
bla2a-out.txt
bla5.js
bla5.txt
heha.txt
heha2.txt
heha3.txt
heha4.txt
heha5.txt
heha6.txt
heha7.txt
heha8.txt
hopla.txt
hopla2.txt
roup.txt
imgs
